{% load static %}
<div class="gotoTop uk-visible-small" data-uk-sticky="{top:-250, animation: 'uk-animation-slide-top'}"><a href="#top"><i
  class="fas fa-chevron-up fa-fw"></i></a></div>
<div class="opacity30 uk-overlay-panel" style="background: linear-gradient(to bottom, #10da77 0%, #d1d65a 100%);"></div>
<div class="bg_img opacity30 uk-height-viewport uk-overlay-panel uk-overlay-top uk-padding-remove">
  <div class="uk-cover-background" style="height: 100%; background-image: url({% static 'img/bg_index_act01.png' %});">
    <img class="uk-invisible" src="{% static 'img/blank.gif' %}" alt="#" title="#">
  </div>
</div>
<div class="bg_img opacity30 uk-height-viewport uk-overlay-panel uk-overlay-bottom uk-padding-remove">
  <div class="uk-cover-background" style="height: 100%; background-image: url({% static 'img/bg_index_act02.png' %});">
    <img class="uk-invisible" src="{% static 'img/blank.gif' %}" alt="#" title="#">
  </div>
</div>
<div class="bg_img opacity50 uk-height-viewport uk-overlay-panel uk-overlay-top uk-padding-remove">
  <div class="uk-cover-background" style="height: 100%; background-image: url({% static 'img/bg_index_act03.png' %});">
    <img class="uk-invisible" src="{% static 'img/blank.gif' %}" alt="#" title="#">
  </div>
</div>
